<!DOCTYPE html>
<html lang="en">
<head>
	<title>Advance chat application | Home page</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body data-ng-app="myPrivateChatApp" data-ng-controller="PrivatechatController">
<div>
	<form class="form1">
		<div class="row remove-margin-row">
			<div class="form-group col-md-5">
				<label for="exampleInputEmail1">Set your username</label>
				<input data-ng-model="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Set your username">
			</div>
		</div>
		<div class="row remove-margin-row">
			<div class="form-group col-md-5">
				<button class="btn btn-warning" data-ng-click="setUser()">Submit</button>
			</div>
		</div>
	</form>
</div>

<div>
	<form class="form1">
		<div class="row remove-margin-row">
			<div class="form-group col-md-5">
				<label for="exampleInputEmail1">Set your room name</label>
				<input data-ng-model="room" type="text" class="form-control" id="exampleInputEmail1" placeholder="Set your username">
			</div>
		</div>
		<div class="row remove-margin-row">
			<div class="form-group col-md-5">
				<button class="btn btn-warning" data-ng-click="setRoom()">Submit</button>
			</div>
		</div>
	</form>
</div>

<div>
	<form class="form1">
		<div class="row remove-margin-row">
			<div class="form-group col-md-5">
				<label for="exampleInputEmail1">Set your room id</label>
				<input data-ng-model="roomId" type="text" class="form-control" id="exampleInputEmail1" placeholder="Set your username">
			</div>
		</div>
		<div class="row remove-margin-row">
			<div class="form-group col-md-5">
				<button class="btn btn-warning" data-ng-click="setJoinRoom()">Submit</button>
			</div>
		</div>
	</form>
</div>

<div>
	<form class="form1">
		<div class="row remove-margin-row">
			<div class="form-group col-md-5">
				<label for="exampleInputEmail1">Set your message</label>
				<input data-ng-model="message" type="text" class="form-control" id="exampleInputEmail1" placeholder="Set your username">
			</div>
		</div>
		<div class="row remove-margin-row">
			<div class="form-group col-md-5">
				<button class="btn btn-warning" data-ng-click="sendMessage()">Submit</button>
			</div>
		</div>
	</form>
</div>


<div><hr></div>
<div>
	<div data-ng-repear="room in rooms">{{ room }}</div>
</div>
<div class="users-list">
	<div data-ng-repeat="user in usersList">
		<online-user data-username="{{user.name}}"></online-user>
	</div>
</div>
</body>
<script src="http://localhost:8080/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="ng-socket-io.js"></script>
<script src="client.js"></script>
</html>